* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-link-color: #fff;

}

img {
    display: block;
    /* width: 100%; */
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    background-color: darkgrey;
}

.header__nav-link {
    color: var(--header-link-color);
}

